@use '../banner' as *;

:host {
  display: contents;
}

mat-form-field {
  width: 100%;
}

.location-error {
  @include banner(var(--mat-sys-error-container), var(--mat-sys-on-error-container));
}

.district-mismatch-warning {
  @include banner(var(--mat-sys-error-container), var(--mat-sys-on-error-container));
}

.district-error {
  color: var(--mat-sys-error) !important;
}

.locating-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
